@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.heading-title{
    color:rgb(231, 6, 252);
    font-family:'Pacifico', cursive;
}

.button {
    background-color: #c300ff; /* Green */
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Permanent Marker', cursive; 
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgb(89, 2, 252),0 17px 50px 0 rgb(110, 0, 253);
  }
